/* Responsive */
@media (max-width: 768px) {
    .editor-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    }
    
    .note-title-input {
    margin: 0;
    width: 100%;
    }
    
    .note-actions {
    width: 100%;
    justify-content: flex-end;
    }
    
    .formatting-toolbar {
    padding: 8px 10px;
    }
    
    .toolbar-group {
    margin-right: 5px;
    padding-right: 5px;
    }
}
