@media (max-width: 700px) {
    body {
        padding: 0;
        margin: 0;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }


    .subjects {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .subjects * {
        margin: 0px;
        margin-bottom: 4px;
    }
}