header img {
    display: none;
}

@media (max-width: 700px) {
    body {
        padding: 0;
        padding-top: 70px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header img {
        height: 30px;
        margin: 10px;
        padding-right: 15px;
        display: inline-block;
    }

    .Tont {
        width: max-content;
        text-align: right;
        height: 50px;
    }

    header nav {
        position: absolute;
        top: 50px;
        background-color: #eceef3;
        width: 100%;
        text-align: left;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    header nav.active {
        max-height: 500px; 
    }
/* 
    header img:hover ~ header nav {
        height: auto;
    } */

    header nav * {
        display: block;
        margin: 20px auto 20px 10px;
    }

    .TheAnswers{
        font-size: 16px;
    }

    main {
        margin: 0;
        width: 100%;
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
    }

    .QuestionBlook {
        flex: 1;
        font-size: clamp(14px, 2vw, 20px);
        overflow-y: auto;
        overflow-wrap: break-word;
    }

    /* /////////////// exam /////////////////// */
    .centered-H1 {
        font-size: clamp(20px, 2vw, 25px);

    }

    .TheAnswers {
        font-size: clamp(18px, 2vw, 25px);
        flex: 10;
    }

    .custom-radio {
        width: clamp(30px, 5vw, 40px);
        height: clamp(30px, 5vw, 40px);
        /* flex: 1; */
        margin: 15px;
        flex-shrink: 0;
    }
}